# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache

# Type Checking
.mypy_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dist
dist/

# Work in Progress
wip/

# Documentation
docs/build/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ
.idea/
